
span.psw {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-weight: bold;
}


input[type=email],
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.btnLogin {
    background-color: #002F34;
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btnLogin:hover {
    opacity: 0.8;
}
