

/* nav-2-end */
.menu ul{
    /* background-color: red; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* margin-right: 40%; */
    padding: 10px;
    list-style: none;
    border: 12px solid #F9F9F9;
}
.menu ul a{
    /* background-color: #002F34; */
    margin-left: 13px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.menu ul a:hover{
    color: #31bbdd;
}


/* .menu end */
    .slider{
    background-image: url("./assests/slider-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    height: 16em;
    margin: 20px;
}

.cat1 >h3{
    /* background-color: #002F34; */
    /* margin: 20px; */
}
/* .products{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
}
.product1{
    background-color: yellow;
    width: 150px;


} */
.product1{
    font-weight: bolder;
    text-align: center;
}
.product1 img{
    width: 100px;
    cursor: pointer;
}


.card-img-top{
    /* background-image: url("assests/ad1.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 200px;
}
.card{
    cursor: pointer;

}
.add{
    color: grey;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#002F34;
    font-weight: bolder;
    /* background-color: yellow; */
}
.footer-img{
    background-image: url("assests/slider-2.jpg");
    /* background-color: rebeccapurple; */
    background-repeat: no-repeat;
    height: 200px;
    width: 30%;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 200px;
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
    border-right:2px grey solid ;
}
.AppStore{
    /* background-color: #3A77FF; */
    width: 30%;
    height: 30px;
    display: flex;
}

/* footer2 */

.footer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EBEEEF;
    padding: 15px 0px;
}
.footer2 ul{
    list-style: none;
    color: gray;
    font-size: 14px;
    padding: 0px;
}
.followUs{
    display: flex;
    /* background-color: yellow; */
}
.followUs img{
    width: 30px;
    margin: 5px;
}

.followUsApp{
    margin: 30px 0px;
    height: 20px;
    display: flex;   
}
.footer3{
    background-color: #002F34;
    height: 50px;
    width: 100%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 30px 0px 0px;
}